#message-page{
    width: 100%;
    height: auto;
    background-color: #dcdcdc44;
    border: 1px solid #dcdcdc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#message-page h4{
    font-weight: 700;
    color: #bd4012;
}
