
#schedule-container{
  background-color: #ffff;
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  padding: 50px;
}
.schedule-page {
  padding: 100px;
}
.vehicle-details-input {
  margin: 10px 0px;
  width: 100%;
}
